//
//  LiveConfig.xcconfig
//  Atcha-iOS
//
//  Created by wodnd on 2/20/26.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

#include "BaseConfig.xcconfig"

API_BASE_URL = https$(COLON)$(SLASH)$(SLASH)atcha.p-e.kr/api
AMPLITUDE_API_KEY = d86e50cb1ffbb7dbd8959cd7f0fd0783
