//
//  Secrets.xcconfig
//  Atcha-iOS
//
//  Created by geonhui Yu on 6/23/25.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

KAKAO_API_KEY = 1e40123a1ca22f7902d75bc8e6fdf663
KAKAO_INIT_KEY = kakao1e40123a1ca22f7902d75bc8e6fdf663
