//
//  Secrets.xcconfig
//  Atcha-iOS
//
//  Created by geonhui Yu on 6/23/25.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

KAKAO_API_KEY = becf8b462befeb61266f05c6925afa13
KAKAO_INIT_KEY = kakaobecf8b462befeb61266f05c6925afa13
